@import url(https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

.game-board {
    font-family: "Game of Thrones";
    letter-spacing: 5px;
    margin:0 auto;
    max-width: 800px;
    padding: 20px;
    font-size: small;
    
}

header {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
width: 100%;

}

#game {
    display:grid;
    grid-template-columns: repeat(6,160px);
    grid-template-rows: repeat(6,160px);
    
    grid-gap: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}