* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}

.card .back-view img {
    max-width: 45px;
}

.card .front-view {
    

}

.game-container {
    height: 400px;
    width: 400px;
    background: rgb(251, 255, 251);
    border-radius: 15px;

}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.cards .card {
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;
}